<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>TREN DE CARGA - Panel</title>
    {% include 'head.html' %}
</head>

<body class="sb-nav-fixed">
    {% include 'nav.html' %}
    <div id="layoutSidenav">
        {% include 'menu.html' %}
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid" id="contenedor">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb mb-0">
                                        <li class="breadcrumb-item">
                                            <a href="{{ url_for('panel') }}">
                                                <i class="fal fa-home"></i>
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            <a href="{{ url_for('config_drive') }}">Configuraciones drive</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            <a href="{{ url_for('config_drive_abc') }}">Agregar configuración</a>
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <h3>Configuracón de respaldos de drive</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card mb-4">
                                <div class="card-header">Formulario de configuración</div>
                                <div class="card-body">
                                    <form class="mb-3" method="POST" action="{{ url_for('config_drive_abc') }}"
                                        enctype="multipart/form-data">
                                        <label >Nombre de la configuración:</label>
                                        <input class="form-control" type="text" name="nombre"
                                            value="{{ nombre }}"><br><br>
                                        <label>Ruta del archivo JSON:</label><br>
                                        <input class="form-control" type="text" name="json_path"
                                            value="{{ ruta_json }}"><br><br>

                                        <label>ID del folder en Google Drive:</label><br>
                                        <input class="form-control" type="text" name="id_folder"
                                            value="{{ folder_id }}"><br><br>

                                        <label>Ruta local de descarga:</label><br>
                                        <input class="form-control" type="text" name="download_path"
                                            value="{{ ruta_local }}"><br><br>

                                        <label>Ruta final del ZIP:</label><br>
                                        <input class="form-control" type="text" name="zip_path"
                                            value="{{ ruta_zip }}"><br><br>

                                        <input type="hidden" name="accion" id="accion" value="{{ accion }}">
                                        <input type="hidden" name="id" id="id" value="{{ id }}">

                                        <button class="btn btn-success" type="submit"><i class="fal fa-save"></i>
                                            Guardar</button>
                                        <a class="btn btn-danger" href="{{ url_for('config_drive') }}"><i
                                                class="fal fa-times"></i> Cancelar</a>
                                    </form>
                                </div>
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                <div class="alert alert-info mt-3">
                                    {% for message in messages %}
                                    <p>{{ message }}</p>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                {% endwith %}
                            </div>

                        </div>
                    </div>
                </div>
            </main>
            {% include 'footer.html' %}
        </div>
    </div>
    {% include 'scripts.html' %}
</body>

</html>