<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mapa DPP - Leaflet + Flask</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" crossorigin="" />

    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        #map {
            width: 100%;
            height: 100vh;
        }
    </style>
</head>

<body>
    <div id="map"></div>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" crossorigin=""></script>
    <script>
        var map = L.map('map').setView([20.7, -88.5], 7);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap'
        }).addTo(map);

        async function cargaGeoJSON() {
            try {
                const responseRETI = await fetch('/api/RETI');
                const dataRETI = await responseRETI.json();
                const layerRETI = L.geoJSON(dataRETI, {
                    onEachFeature: function (feature, layer) {
                        layer.bindPopup("ID Monumento: " + feature.properties["ID Monumento"]);
                    },
                    style: {
                        color: 'blue',
                        weight: 2,
                        fillOpacity: 0.4
                    }
                }).addTo(map);
                map.fitBounds(layerRETI.getBounds());

                const responseDPL = await fetch('/api/DPL');
                const dataDPL = await responseDPL.json();
                const layerDPL = L.geoJSON(dataDPL, {
                    onEachFeature: function (feature, layer) {
                        layer.bindPopup("ID Monumento: " + feature.properties["ID Monumento"]);
                    },
                    style: {
                        color: 'pink',
                        weight: 2,
                        fillOpacity: 0.4
                    }
                }).addTo(map);
                map.fitBounds(layerDPL.getBounds());

                const responseDPP = await fetch('/api/DPP');
                const dataDPP = await responseDPP.json();
                const layerDPP = L.geoJSON(dataDPP, {
                    onEachFeature: function (feature, layer) {
                        layer.bindPopup("ID Monumento: " + feature.properties["ID Monumento"]);
                    },
                    style: {
                        color: 'red',
                        weight: 2,
                        fillOpacity: 0.4
                    }
                }).addTo(map);
                map.fitBounds(layerDPP.getBounds());
            } catch (err) {
                console.error('Error al cargar GeoJSON:', err);
            }
        }

        cargaGeoJSON();
    </script>

</body>

</html>