<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Dashboard</div>
                <a class="nav-link" href="{{ url_for('panel') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Inicio
                </a>

                <div class="sb-sidenav-menu-heading">Modulos</div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#MenuBackups"
                    aria-expanded="false" aria-controls="MenuBackups">
                    <div class="sb-nav-link-icon"><i class="fal fa-sync"></i></div>
                    Respaldo de drive
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>

                <div class="collapse" id="MenuBackups" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('config_drive') }}">
                            <i class="fal fa-cogs text-primary"></i>
                            <span>Configuraciones drive</span>
                        </a>
                        <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('backup') }}">
                            <i class="fal fa-sync text-success"></i>
                            <span>Backup</span>
                        </a>
                        <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('files') }}">
                            <i class="fal fa-folder-open text-warning"></i>
                            <span>Navegador de archivos</span>
                        </a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#MenuPoligonos"
                    aria-expanded="false" aria-controls="MenuPoligonos">
                    <div class="sb-nav-link-icon"><i class="fal fa-draw-polygon"></i></div>
                    Poligonos
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>

                <div class="collapse" id="MenuPoligonos" aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link d-flex align-items-center gap-2"
                            href="{{ url_for('bitacora') }}">
                            <i class="fal fa-book-reader text-info"></i>
                            <span>BITACORA</span>
                        </a>
                        {% if menu %}
                        {% for item in menu %}
                        {% if item.nombre != "BITACORA" %}
                        <a class="nav-link d-flex align-items-center gap-2"
                            href="{{ url_for('poligonos', nombre_poligono=item.nombre, id_monumento="") }}">
                            <i class="fal fa-folder-minus text-warning"></i>
                            <span>{{ item.nombre }}</span>
                        </a>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <p class="text-white px-3">No hay poligonos</p>
                        {% endif %}
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#MenuArquitectura"
                    aria-expanded="false" aria-controls="MenuArquitectura">
                    <div class="sb-nav-link-icon"><i class="fal fa-draw-polygon"></i></div>
                    Arquitectura
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>

                <div class="collapse" id="MenuArquitectura" aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">

                        <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('mapa') }}">
                            <i class="fal fa-hexagon text-warning"></i>
                            <span>Concentrado de capas</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </nav>
</div>