<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>TREN DE CARGA - Panel</title>
    {% include 'head.html' %}
</head>

<body class="sb-nav-fixed">
    {% include 'nav.html' %}
    <div id="layoutSidenav">
        {% include 'menu.html' %}
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid" id="contenedor">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb mb-0">
                                        <li class="breadcrumb-item">
                                            <a href="{{ url_for('panel') }}">
                                                <i class="fal fa-home"></i>
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            <a href="{{ url_for('backup') }}">Respaldos</a>
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <h3>Backup Drive google sheet</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card mb-4">
                                <div class="card-header">Backup Drive</div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover table-bordered table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Folder ID</th>
                                                    <th>Configuracion de rutas</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for config_drive in config_drive %}
                                                <tr>
                                                    <td>{{config_drive.nombre}}</td>
                                                    <td>{{config_drive.folder_id}}</td>
                                                    <td>Config. JSON: {{config_drive.ruta_json}}<br>
                                                        Config. local: {{config_drive.ruta_local}}<br>
                                                        Config. ZIP: {{config_drive.ruta_zip}}
                                                    </td>
                                                    <td>
                                                        <form action="{{ url_for('backup') }}" method="post">
                                                            <input type="hidden" name="id" value="{{config_drive.id}}">
                                                            <input type="hidden" name="accion" value="iniciar_respaldo">
                                                            <button class="btn btn-primary btn-sm mb-1" type="submit"><i
                                                                    class="fal fa-sync"></i> Iniciar respaldo</button>
                                                        </form>
                                                        <form action="{{ url_for('backup') }}" method="post">
                                                            <input type="hidden" name="id" value="{{config_drive.id}}">
                                                            <input type="hidden" name="accion" value="detener_respaldo">
                                                            <button class="btn btn-danger btn-sm mb-1" type="submit"><i
                                                                    class="fal fa-stop"></i> Detener respaldo</button>
                                                        </form>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                <div class="alert alert-info mt-3">
                                    {% for message in messages %}
                                    <p>{{ message }}</p>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                {% endwith %}
                            </div>
                            <!-- <div class="card mb-3">
                                <div class="terminal-container">
                                    <div class="terminal-header">
                                        <span>Terminal</span>
                                    </div>
                                    <div class="terminal-output">
                                        <div class="terminal-line">
                                            <span class="command-prompt">prompt></span>
                                            <span class="output-text"> {{ output_text }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <h3>Actualizar registros de excavaciones</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card mb-4">
                                <div class="card-header">Actualizar registros</div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        {% if not config_drive %}
                                        <div class="alert alert-info mt-3">
                                            No se encontraron registros de excavaciones.
                                        </div>
                                        {% endif %}
                                        <table class="table table-striped table-hover table-bordered table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for config_drive in config_drive %}
                                                <tr>
                                                    <td>{{config_drive.nombre}}</td>
                                                    <td>
                                                        <form method="post">
                                                            <input type="hidden" name="id"
                                                                value="{{config_drive.nombre}}">
                                                            <input type="hidden" name="accion" value="actualizar">
                                                            <button class="btn btn-primary btn-sm mb-1" type="button"
                                                                onclick="confirmarActualizacion('{{config_drive.nombre}}')"><i
                                                                    class="fal fa-sync"></i> Actualizar</button>
                                                        </form>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            {% include 'footer.html' %}
        </div>
    </div>
    {% include 'scripts.html' %}
</body>
<script>
    function confirmarActualizacion(nombre) {
        var confirmar = confirm("¿Desea actualizar los registros de la excavación " + nombre + "?");
        if (confirmar) {
            $.ajax({
                url: "{{ url_for('backup') }}",
                method: "POST",
                data: {
                    id: nombre,
                    accion: "actualizar_registros"
                },
                success: function (response) {
                    alert(response);
                }
            });
        }
    }
</script>

</html>